@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h1>Welcome to GrabYourLead!</h1>
        <p>This is the index page of your website.</p>
        <button id="myButton">Click Me</button>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#myButton').click(function() {
                // Handle button click here
            });
        });
    </script>
</body>
</html>
