@page
@model IndexModel
@{    
    ViewData["Title"] = "Welcome to grabyourlead";
}

<div class="jumbotron">
    <h1>💜grabyourlead💜 </h1>
    <p class="lead">Example .NET app to Azure App Service.</p>
</div>
